<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Footer</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
</head>
<body>
	<div th:fragment="footer">
		<footer class="footer mt-auto py-3 bg-light">

			<div class="container1">
				<ul class="ml-3">
					<h5>
						<u> Learning </u>
					</h5>
					<li><strong> Stay Updated: </strong> Technology evolves
						rapidly. Keeping up with new tools, frameworks, and best practices
						can keep your work fresh and exciting.</li>

					<li><strong> Online Courses: </strong>Platforms like Coursera,
						Udemy, and Pluralsight offer courses on the latest technologies.</li>
				</ul>
			</div>
			<div class="container2">
				<h5>
					<u>Passion Projects</u>
				</h5>
				<li><strong>Personal Projects: </strong>Working on personal
					projects can provide a creative outlet and a break from routine
					tasks.</li>

				<li><strong>Open Source Contributions: <strong />Contributing
						to open source projects can be rewarding and help you build a
						portfolio.</li>

			</div>
		</footer>
	</div>
</body>
</html>
